/*  Fichier scss principal (main) : La mise en forme générale se fait ici */


<<<<<<< HEAD
.container {
  display: flex;
  width: 1200px;
  height: 550px;
  margin-top: 1.15%;
  right: 50%;
  margin-left: 12%;
  background-color: #F2F2F2; 
  border: goldenrod 2px solid; 
}


=======

.container {
  display: flex;
  width: 1600px;
  height: 550px;
  right: 130%;
  left: 150%;
  background-color: #F2F2F2; 
}



>>>>>>> 3d76e401ef03a22bb31ea51f5218de3a971c3517
footer {
  position: absolute;
  width: 1600px;
  height: 150px;
  background-color:#F2F2F2;
  min-height: 50px;
  top: 420% ;
  bottom:0%;
  display: flex;
  justify-content:center;
  align-items:center;
  bottom: 0;
}

<<<<<<< HEAD
footer .footer__social .footer__social-item {
  font-size: 30px;
  color: rgba(59, 89, 152, 0.5);
=======

/**footer .footer__social .footer__social-item {
  font-size: 20px;
  color: red;
>>>>>>> 3d76e401ef03a22bb31ea51f5218de3a971c3517
  cursor: pointer;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

footer .footer__social .footer__social-item:hover {
  color: blue;
}*/



.sn {
  display: flex;
  justify-content: end;
  align-items:flex-end;
}

h1 {
  color:black;
  text-align: center;
  font-weight: 100;
}

.text {
  display: flex;
  align-items: left;
  position:absolute;
  color:black;
  left: 15%;
  right: 60%;
  top: 40%;
  bottom: 60%;
  width: 340px;
  height: 250px;
  padding: 10px;
  overflow: hidden;
  right:0;
  bottom:10px;
  background-color: #F2F2F2;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnon {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 78%;
  bottom: 30%;
  color:black;
  border-radius: 4px;
}

.btn {
  background-color: black;
  color: white;
  width: 200px;
  height: 48px;
}

.titfoot {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 35%;
  bottom: 0%;
}

.copy {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 65%;
  bottom: 0%;
}

.title {
  position: absolute;
  left: 12%;
  right:60%;
  top: 30%;
  bottom: 30%;
}

h2 {
  width: 400px;
  height: 52px;
 
}

.img {
  position: absolute;
  left: 60%;
  right: 60%;
  top: 40%;
  bottom: 30%;
}

.link {
  position: absolute;
  left: 60%;
  right: 60%;
  top: 20%;
  bottom: 30%;
}

<<<<<<< HEAD
.fa-facebook {
=======
 /*.fab {
>>>>>>> 3d76e401ef03a22bb31ea51f5218de3a971c3517
  position: absolute;
  font-size: 20px;
  left: 60%;
  right: 60%;
  top: 45%;
  bottom: 30%;
<<<<<<< HEAD
}

.fa-linkedin {
=======
  color: blue;
  }*/

  .fab:hover{
    color: orange;
  }

  .fa-facebook {
  color: #3B5998;
  position: absolute;
  left: 60%;
  right: 60%;
  top: 45%;
  bottom: 30%;
    }

 .fa-linkedin{
  color: #3B5998;
>>>>>>> 3d76e401ef03a22bb31ea51f5218de3a971c3517
  position: absolute;
  left: 75%;
  right: 60%;
  top: 45%;
  bottom: 30%;
}

<<<<<<< HEAD
.fa-twitter {
=======
 .fa-twitter{
  color: #3B5998;
>>>>>>> 3d76e401ef03a22bb31ea51f5218de3a971c3517
  position: absolute;
  left: 67.5%;
  right: 60%;
  top: 45%;
  bottom: 30%;
}

.fa-instagram {
  position: absolute;
  left: 82.5%;
  right: 60%;
  top: 45%;
  bottom: 30%;
}


<<<<<<< HEAD
=======
 .fa-instagram{
  color: #3B5998;
  position: absolute;
  left: 82.5%;
  right: 60%;
  top: 45%;
  bottom: 30%;
 }

 
>>>>>>> 3d76e401ef03a22bb31ea51f5218de3a971c3517
/**----------Chambre 2-------------------------*/

.container1 {
  display: flex;
<<<<<<< HEAD
  width: 1200px;
  height: 550px;
  right: 30%;
  margin-left: 12%;
  background-color: #F2F2F2;
  margin-top: 190px;
}

=======
  width: 1600px;
  height: 550px;
  right: 30%;
  left: 50%;
  background-color: #F2F2F2;
  margin-top: 265px;
}
>>>>>>> 3d76e401ef03a22bb31ea51f5218de3a971c3517

.text1 {
  display: flex;
  align-items: left;
  position:absolute;
  color:black;
  left: 15%;
  right: 60%;
  top: 135%;
  bottom: 20%;
  width: 340px;
  height: 250px;
  padding: 10px;
  overflow: hidden;
  right:0;
  bottom:10px;
  background-color: #F2F2F2;
}

.btnon1 {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 173%;
  bottom: 20%;
  color:black;
  border-radius: 4px;
}

.btn1 {
  background-color: black;
  color: white;
  width: 200px;
  height: 48px;
}

.title1 {
  position: absolute;
  left: 12%;
  right: 60%;
  top: 125%;
  bottom: 30%;
}

.img1 {
  position: absolute;
  left: 60%;
  right: 60%;
  top: 150%;
  bottom: 30%;
}

.img1 {
  display: flex;
  align-items:center;
  justify-content: center;
}


/**--------Chambre 3-----------------------------*/


.container2 {
  display: flex;
  width: 1200px;
  height: 550px;
  top: 580%;
  right: 30%;
  margin-left: 12%;
  bottom: 160%;
  background-color: #F2F2F2;
  margin-top: 260px;
}

<<<<<<< HEAD
.text2 {
=======
 .container2 {
  display: flex;
  width: 1600px;
  height: 550px;
  top: 580%;
  right: 30%;
  left: 50%;
  bottom: 100%;
  background-color: #F2F2F2;
  margin-top: 260px;
}

 .text2 {
>>>>>>> 3d76e401ef03a22bb31ea51f5218de3a971c3517
  display: flex;
  align-items: left;
  position:absolute;
  color:black;
  left: 15%;
  right: 60%;
  top: 240%;
  bottom: 60%;
  width: 340px;
  height: 250px;
  padding: 10px;
  overflow: hidden;
  right:0;
  bottom:10px;
  background-color: #F2F2F2;
}

.btnon2 {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 278%;
  bottom: 30%;
  color:black;
  border-radius: 4px;
}

.btn2 {
  background-color: black;
  color: white;
  width: 200px;
  height: 48px;
}

.title2 {
  position: absolute;
  left: 12%;
  right: 60%;
  top: 230%;
  bottom: 30%;
}

.img2 {
  position: absolute;
  left: 60%;
  right: 60%;
  top: 255%;
  bottom: 30%;
}

.img2 {
  display: flex;
  align-items:center;
  justify-content: center;
}



/**********************************Chambre 4 **********************************/

@at-root


.container3 {
  display: flex;
  width: 1200px;
  height: 550px;
  top: 580%;
  right: 30%;
  margin-left: 12%;
  bottom: 100%;
  background-color: #F2F2F2;
  margin-top: 260px;
}

.text3 {
  display: flex;
  align-items: left;
  position:absolute;
  color:black;
  left: 15%;
  right: 60%;
  top: 345%;
  bottom: 60%;
  width: 340px;
  height: 250px;
  padding: 10px;
  overflow: hidden;
  right:0;
  bottom:10px;
  background-color: #F2F2F2;
}

.btnon3 {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 383%;
  bottom: 30%;
  color:black;
  border-radius: 4px;
}

.btn3 {
  background-color: black;
  color: white;
  width: 200px;
  height: 48px;
}

.title3 {
  position: absolute;
  left: 12%;
  right: 60%;
  top: 335%;
  bottom: 30%;
}

.img3 {
  position: absolute;
  left: 60%;
  right: 60%;
  top: 360%;
  bottom: 30%;
}

.img3 {
  display: flex;
  align-items:center;
  justify-content: center;
}


/***************************************************Nav*************************************************/


figure {
  margin: 16px 0;
  object-fit: contain;
}

img[alt*="image_principale_hotel-parimis"] {
  width: 100%;
  height: auto;
}

section[data-id="hotel_introduction"] { background-color: #F2F3F5; }

input, select{
  margin: 0.5rem;
}
#containerForm1{
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
  justify-content: center;

  ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;


      li {
          flex: 1 0 14.9%;
          background-color: $background_menu_color;
          //padding: 15px 0;
          //line-height: 2;
          font-family: 'Roboto';
          cursor: pointer;
          //border: 1px solid $primary_color;
          transition-duration: $duration;
          text-align: center;

          a {
              //display: block;
              color: $background_text_menu_color;
              text-decoration: none;
              //font-size: 1.5em;
          }

          &:hover, &.active {
              background-color: $background_text_menu_color;
              color: $primary_color;

              a {
                  color: $primary_color;
              }
          }
      }
  }
}