/*  Fichier scss principal (main) : La mise en forme générale se fait ici */


.container {
  display: flex;
  width: 1600px;
  height: 550px;
  top: 35%;
  right: 130%;
  left: 150%;
  background-color: #F2F2F2;
}


footer {
    height: 150px;
    background-color:#F2F2F2;
    min-height: 50px;
    top: 300% ;
    bottom:0;
    display: flex;
    justify-content:center;
    align-items:center;
    bottom: 0;
}

footer .footer__social .footer__social-item {
    font-size: 20px;
    color: rgba(59, 89, 152, 0.5);
    cursor: pointer;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}

footer .footer__social .footer__social-item:hover {
  color: #3b5998;
}

.sn {
    display: flex;
    justify-content: end;
    align-items:flex-end;
}

h2 {
    color:black;
    text-align: center;
    font-weight: 100;
}

.text {
    display: flex;
    align-items: left;
    position:absolute;
    color:black;
    left: 15%;
    right: 60%;
    top: 30%;
    bottom: 60%;
    width: 340px;
    height: 250px;
    padding: 10px;
    overflow: hidden;
    right:0;
    bottom:10px;
    background-color: #F2F2F2;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnON {
    position: absolute;
    left: 15%;
    right: 60%;
    top: 68%;
    bottom: 30%;
    color:black;
    border-radius: 4px;
}

.btn {
    background-color: black;
    color: white;
    width: 200px;
    height: 48px;
}

.titfoot {
    position: absolute;
    left: 15%;
    right: 60%;
    top: 5%;
    bottom: 0%;
}

.copy {
    position: absolute;
    left: 15%;
    right: 60%;
    top: 45%;
    bottom: 0%;
}

.title {
    position: absolute;
    left: 22%;
    right: 60%;
    top: 20%;
    bottom: 30%;
}

h3 {
    width: 400px;
    height: 52px;
}

.img {
    position: absolute;
    left: 60%;
    right: 60%;
    top: 20%;
    bottom: 30%;
}

.link {
    position: absolute;
    left: 60%;
    right: 60%;
    top: 20%;
    bottom: 30%;
}

.fa-facebook {
    position: absolute;
    left: 60%;
    right: 60%;
    top: 45%;
    bottom: 30%;
}

.fa-linkedin {
    position: absolute;
    left: 75%;
    right: 60%;
    top: 45%;
    bottom: 30%;
}

.fa-twitter {
    position: absolute;
    left: 67.5%;
    right: 60%;
    top: 45%;
    bottom: 30%;
}

.fa-instagram {
  position: absolute;
  left: 82.5%;
  right: 60%;
  top: 45%;
  bottom: 30%;
}


/**----------Chambre 2-------------------------*/

.container1 {
  display: flex;
  width: 1600px;
  height: 550px;
  right: 30%;
  left: 50%;
  background-color: #F2F2F2;
  margin-top: 265px;
}


.text1 {
    display: flex;
    align-items: left;
    position:absolute;
    color:black;
    left: 15%;
    right: 60%;
    top: 135%;
    bottom: 20%;
    width: 340px;
    height: 250px;
    padding: 10px;
    overflow: hidden;
    right:0;
    bottom:10px;
    background-color: #F2F2F2;
}

.btnON1 {
    position: absolute;
    left: 15%;
    right: 60%;
    top: 173%;
    bottom: 20%;
    color:black;
    border-radius: 4px;
}

.btn1 {
    background-color: black;
    color: white;
    width: 200px;
    height: 48px;
}

.title1 {
    position: absolute;
    left: 22%;
    right: 60%;
    top: 125%;
    bottom: 30%;
}

.img1 {
    position: absolute;
    left: 60%;
    right: 60%;
    top: 150%;
    bottom: 30%;
}

.img1 {
    display: flex;
    align-items:center;
    justify-content: center;
}


/**--------Chambre 3-----------------------------*/


.container2 {
  display: flex;
  width: 1600px;
  height: 550px;
  top: 580%;
  right: 30%;
  left: 50%;
  bottom: 100%;
  background-color: #F2F2F2;
  margin-top: 260px;
}

.text2 {
    display: flex;
    align-items: left;
    position:absolute;
    color:black;
    left: 15%;
    right: 60%;
    top: 240%;
    bottom: 60%;
    width: 340px;
    height: 250px;
    padding: 10px;
    overflow: hidden;
    right:0;
    bottom:10px;
    background-color: #F2F2F2;
}

.btnON2 {
    position: absolute;
    left: 15%;
    right: 60%;
    top: 278%;
    bottom: 30%;
    color:black;
    border-radius: 4px;
}

.btn2 {
    background-color: black;
    color: white;
    width: 200px;
    height: 48px;
}

.title2 {
    position: absolute;
    left: 22%;
    right: 60%;
    top: 230%;
    bottom: 30%;
}

.img2 {
    position: absolute;
    left: 60%;
    right: 60%;
    top: 255%;
    bottom: 30%;
}

.img2 {
    display: flex;
    align-items:center;
    justify-content: center;
}

figure[data-brand="hotel_parimis"] {
    margin: 0 0 16px 0;
    object-fit: contain;
    position: relative;

    img[alt="image_principale_hotel-parimis"] {
        width: 100%;
        height: auto;
        vertical-align: middle; //to remove white-space between img & figure bottom borders
    }

    figcaption h1 {
        position: absolute;
        bottom: 34%;
        right: 9%;
        color: white;
        font-family: 'Jura', sans-serif;
        font-size: 75px;
        font-weight: 600;
    }

    /* Sub-title bloc */
    figcaption h1+ div {
        position: absolute;
        bottom: 34%;
        right: 15.5%;

        /* Sub-title */
        strong {
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            font-weight: 400;
        }
    }

    button {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        font-size: 18px;
        color: #F2B827;
        background-color: #343434;
        width: 200px;
        height: 48px;
        border-radius: 4px;
        border-style: none;
        position: absolute;
        bottom: 17%;
        right: 19%;

        &:active {opacity: 0.89;}
    }
}

.bg-color_grey { background-color: #F2F3F5; }

section[data-id="hotel_introduction"] { text-align: center; }

/* Section data-id="room_presentation" */
 section[data-id="room_presentation"] { padding: 0 5%; }
.grid_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 310px);
    grid-template-rows: 1fr 2fr 3fr;
    gap: 40px 35px;
    grid-template-areas:
    "rooms_intro rooms_intro rooms_intro rooms_intro"
    "img_room1 img_room2 img_room3 img_room4"
    "detail_room1 detail_room2 detail_room3 detail_room4";
}

.rooms_intro {
    grid-area: rooms_intro;
    text-align: center;

    h2 {
        width: 432px;
        height: 52px;
        margin: 0 auto;
        font-family: 'Open Sans', sans-serif;
        font-size: 38px;
        font-weight: 700;
        color: #444;
    }

    b {
        font-family: 'Open Sans', sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #444;
    }
}

.img_room1 { grid-area: img_room1; }
.img_room2 { grid-area: img_room2; }
.img_room3 { grid-area: img_room3; }
.img_room4 { grid-area: img_room4; }

.detail_room1 { grid-area: detail_room1; }
.detail_room2 { grid-area: detail_room2; }
.detail_room3 { grid-area: detail_room3; }
.detail_room4 { grid-area: detail_room4; }

.detail_room1, .detail_room2, .detail_room3, .detail_room4 {
    h3 { padding-left: 24px; }

    h3 + div {
        text-align: justify;
        margin-bottom: 16px;
    }
}

.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
        width: 184px;
        height: 48px;
        color: #F2B827;
        background-color: #000000;
        border-radius: 4px;
        border-style: none;
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
    }
}
/* end_ Section data-id="room_presentation" */

#email, #story {
    border: 1px solid #000000;
    border-radius: 5px;
}

#email {
    width: 280px;
    height: 40px;
}

.contact_flex-container {
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact_flex-item {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    width: 360px;
    height: 64px;
    text-align: center;
}

.contact-btn {
    width:100%;
    height: 100%;
    margin: 0 auto;
    border: 1px solid #000000;
    border-radius: 4px;
}

.contact_flex-item:first-child button {
    color: #F2B827;
    background-color: #000000;
}

/* 3rd .contact_flex-item child only from its parent */
.contact_flex-item:nth-child(3) button { background-color: #F2F3F5; }


/**********************************Chambre 4 **********************************/

@at-root


.container3 {
  display: flex;
  width: 1600px;
  height: 550px;
  top: 580%;
  right: 30%;
  left: 50%;
  bottom: 100%;
  background-color: #F2F2F2;
  margin-top: 260px;
}

.text3 {
  display: flex;
  align-items: left;
  position:absolute;
  color:black;
  left: 15%;
  right: 60%;
  top: 345%;
  bottom: 60%;
  width: 340px;
  height: 250px;
  padding: 10px;
  overflow: hidden;
  right:0;
  bottom:10px;
  background-color: #F2F2F2;
}

.btnON3 {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 383%;
  bottom: 30%;
  color:black;
  border-radius: 4px;
}

.btn3 {
  background-color: black;
  color: white;
  width: 200px;
  height: 48px;
}

.title3 {
  position: absolute;
  left: 22%;
  right: 60%;
  top: 335%;
  bottom: 30%;
}

.img3 {
  position: absolute;
  left: 60%;
  right: 60%;
  top: 360%;
  bottom: 30%;
}

.img3 {
  display: flex;
  align-items:center;
  justify-content: center;
}


/***************************************************Nav*************************************************/

input, select{
  margin: 0.5rem;
}
#containerForm1{
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
  justify-content: center;

  ul {
      display: flex;
      justify-content: space-around;
      list-style-type: none;


      li {
          flex: 1 0 14.9%;
          background-color: $background_menu_color;
          //padding: 15px 0;
          //line-height: 2;
          font-family: 'Roboto';
          cursor: pointer;
          //border: 1px solid $primary_color;
          transition-duration: $duration;
          text-align: center;

          a {
              //display: block;
              color: $background_text_menu_color;
              text-decoration: none;
              //font-size: 1.5em;
          }

          &:hover, &.active {
              background-color: $background_text_menu_color;
              color: $primary_color;

              a {
                  color: $primary_color;
              }
          }
      }
  }
}