/*  Fichier scss principal (main) : La mise en forme générale se fait ici */


.img{
    display: flex;
    align-items: right;
}


.container {
    position: relative;
    width:400px;
    height:400px;
    background-color: green;
    left:200px;
    top:200px;
  }


  .text {
    position:absolute;
    color:white;
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: red;
    overflow: hidden;
    right:0;
    bottom:10px;
  }


  h2 {
    color:coral;
    text-align: center;
    font-weight: 100;
  }

figure {
  margin: 16px 0;
  object-fit: contain;
}

img[alt*="image"] {
  width: 100%;
  height: auto;
}

section[data-id="hotel_introduction"] { background-color: #F2F3F5; }