/*  Fichier scss de variables */

    // Exemple de code pour définir des variables : 


$background_menu_color: white;
$background_text_menu_color: black;

// To change with our colors;
$primary_color: #daa520;
$secondary_color:#373737;

$white:white;
$whitepale:#f0f8ff;
$duration: 500ms;
