@charset "UTF-8";
/*  Fichier style.scss : ne mettre que les imports ici */
/*  Fichier scss de variables */
/*  Fichier scss de fonts */
/*  Fichier scss principal (main) : La mise en forme générale se fait ici */
.container {
  display: flex;
  width: 1200px;
  height: 550px;
  margin-top: 1.15%;
  right: 50%;
  margin-left: 12%;
  background-color: #F2F2F2;
  border: goldenrod 2px solid;
}

footer {
  position: absolute;
  width: 1600px;
  height: 150px;
  background-color: #F2F2F2;
  min-height: 50px;
  top: 420%;
  bottom: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
}

footer .footer__social .footer__social-item {
  font-size: 30px;
  color: rgba(59, 89, 152, 0.5);
  cursor: pointer;
  transition-duration: 500ms;
}

footer .footer__social .footer__social-item:hover {
  color: #3b5998;
}

.sn {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

h1 {
  color: black;
  text-align: center;
  font-weight: 100;
}

.text {
  display: flex;
  align-items: left;
  position: absolute;
  color: black;
  left: 15%;
  right: 60%;
  top: 40%;
  bottom: 60%;
  width: 340px;
  height: 250px;
  padding: 10px;
  overflow: hidden;
  right: 0;
  bottom: 10px;
  background-color: #F2F2F2;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnon {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 78%;
  bottom: 30%;
  color: black;
  border-radius: 4px;
}

.btn {
  background-color: black;
  color: white;
  width: 200px;
  height: 48px;
}

.titfoot {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 35%;
  bottom: 0%;
}

.copy {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 65%;
  bottom: 0%;
}

.title {
  position: absolute;
  left: 12%;
  right: 60%;
  top: 30%;
  bottom: 30%;
}

h2 {
  width: 400px;
  height: 52px;
}

.img {
  position: absolute;
  left: 60%;
  right: 60%;
  top: 40%;
  bottom: 30%;
}

.link {
  position: absolute;
  left: 60%;
  right: 60%;
  top: 20%;
  bottom: 30%;
}

.fa-facebook {
  position: absolute;
  left: 60%;
  right: 60%;
  top: 45%;
  bottom: 30%;
}

.fa-linkedin {
  position: absolute;
  left: 75%;
  right: 60%;
  top: 45%;
  bottom: 30%;
}

.fa-twitter {
  position: absolute;
  left: 67.5%;
  right: 60%;
  top: 45%;
  bottom: 30%;
}

.fa-instagram {
  position: absolute;
  left: 82.5%;
  right: 60%;
  top: 45%;
  bottom: 30%;
}

/**----------Chambre 2-------------------------*/
.container1 {
  display: flex;
  width: 1200px;
  height: 550px;
  right: 30%;
  margin-left: 12%;
  background-color: #F2F2F2;
  margin-top: 190px;
}

.text1 {
  display: flex;
  align-items: left;
  position: absolute;
  color: black;
  left: 15%;
  right: 60%;
  top: 135%;
  bottom: 20%;
  width: 340px;
  height: 250px;
  padding: 10px;
  overflow: hidden;
  right: 0;
  bottom: 10px;
  background-color: #F2F2F2;
}

.btnon1 {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 173%;
  bottom: 20%;
  color: black;
  border-radius: 4px;
}

.btn1 {
  background-color: black;
  color: white;
  width: 200px;
  height: 48px;
}

.title1 {
  position: absolute;
  left: 12%;
  right: 60%;
  top: 125%;
  bottom: 30%;
}

.img1 {
  position: absolute;
  left: 60%;
  right: 60%;
  top: 150%;
  bottom: 30%;
}

.img1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**--------Chambre 3-----------------------------*/
.container2 {
  display: flex;
  width: 1200px;
  height: 550px;
  top: 580%;
  right: 30%;
  margin-left: 12%;
  bottom: 160%;
  background-color: #F2F2F2;
  margin-top: 260px;
}

.text2 {
  display: flex;
  align-items: left;
  position: absolute;
  color: black;
  left: 15%;
  right: 60%;
  top: 240%;
  bottom: 60%;
  width: 340px;
  height: 250px;
  padding: 10px;
  overflow: hidden;
  right: 0;
  bottom: 10px;
  background-color: #F2F2F2;
}

.btnon2 {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 278%;
  bottom: 30%;
  color: black;
  border-radius: 4px;
}

.btn2 {
  background-color: black;
  color: white;
  width: 200px;
  height: 48px;
}

.title2 {
  position: absolute;
  left: 12%;
  right: 60%;
  top: 230%;
  bottom: 30%;
}

.img2 {
  position: absolute;
  left: 60%;
  right: 60%;
  top: 255%;
  bottom: 30%;
}

.img2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/**********************************Chambre 4 **********************************/
.container3 {
  display: flex;
  width: 1200px;
  height: 550px;
  top: 580%;
  right: 30%;
  margin-left: 12%;
  bottom: 100%;
  background-color: #F2F2F2;
  margin-top: 260px;
}

.text3 {
  display: flex;
  align-items: left;
  position: absolute;
  color: black;
  left: 15%;
  right: 60%;
  top: 345%;
  bottom: 60%;
  width: 340px;
  height: 250px;
  padding: 10px;
  overflow: hidden;
  right: 0;
  bottom: 10px;
  background-color: #F2F2F2;
}

.btnon3 {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 383%;
  bottom: 30%;
  color: black;
  border-radius: 4px;
}

.btn3 {
  background-color: black;
  color: white;
  width: 200px;
  height: 48px;
}

.title3 {
  position: absolute;
  left: 12%;
  right: 60%;
  top: 335%;
  bottom: 30%;
}

.img3 {
  position: absolute;
  left: 60%;
  right: 60%;
  top: 360%;
  bottom: 30%;
}

.img3 {
  display: flex;
  align-items: center;
  justify-content: center;
}

/***************************************************Nav*************************************************/
figure {
  margin: 16px 0;
  -o-object-fit: contain;
     object-fit: contain;
}

img[alt*=image_principale_hotel-parimis] {
  width: 100%;
  height: auto;
}

section[data-id=hotel_introduction] {
  background-color: #F2F3F5;
}

input, select {
  margin: 0.5rem;
}

#containerForm1 {
  display: flex;
  flex-direction: row;
}

nav {
  display: flex;
  justify-content: center;
}
nav ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}
nav ul li {
  flex: 1 0 14.9%;
  background-color: white;
  font-family: "Roboto";
  cursor: pointer;
  transition-duration: 500ms;
  text-align: center;
}
nav ul li a {
  color: black;
  text-decoration: none;
}
nav ul li:hover, nav ul li.active {
  background-color: black;
  color: #daa520;
}
nav ul li:hover a, nav ul li.active a {
  color: #daa520;
}

/*  Fichier scss de mixin (bouts de code à rappeler, pour ne faire de duplication) */
/*  Fichier scss pour le responsive (tablet) */
/*  Fichier scss pour le responsive (desktop) *//*# sourceMappingURL=style.css.map */