@charset "UTF-8";
/*  Fichier style.scss : ne mettre que les imports ici */
/*  Fichier scss de variables */
/*  Fichier scss de fonts */
/*  Fichier scss principal (main) : La mise en forme générale se fait ici */
footer {
  position: absolute;
  width: 1600px;
  height: 150px;
  background-color: #F2F2F2;
  min-height: 50px;
  top: 300%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 0;
}

footer .footer__social .footer__social-item {
  font-size: 20px;
  color: rgba(59, 89, 152, 0.5);
  cursor: pointer;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

footer .footer__social .footer__social-item:hover {
  color: #3b5998;
}

.sn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

h2 {
  color: black;
  text-align: center;
  font-weight: 100;
}

.text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  position: absolute;
  color: black;
  left: 15%;
  right: 60%;
  top: 30%;
  bottom: 60%;
  width: 340px;
  height: 250px;
  padding: 10px;
  overflow: hidden;
  right: 0;
  bottom: 10px;
  background-color: #F2F2F2;
}

.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btnON {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 68%;
  bottom: 30%;
  color: black;
  border-radius: 4px;
}

.btn {
  background-color: black;
  color: white;
  width: 200px;
  height: 48px;
}

.titfoot {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 5%;
  bottom: 0%;
}

.copy {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 45%;
  bottom: 0%;
}

.title {
  position: absolute;
  left: 22%;
  right: 60%;
  top: 20%;
  bottom: 30%;
}

h3 {
  width: 400px;
  height: 52px;
}

.img {
  position: absolute;
  left: 60%;
  right: 60%;
  top: 20%;
  bottom: 30%;
}

.link {
  position: absolute;
  left: 60%;
  right: 60%;
  top: 20%;
  bottom: 30%;
}

.fa-facebook {
  position: absolute;
  left: 60%;
  right: 60%;
  top: 45%;
  bottom: 30%;
}

.fa-linkedin {
  position: absolute;
  left: 75%;
  right: 60%;
  top: 45%;
  bottom: 30%;
}

.fa-twitter {
  position: absolute;
  left: 67.5%;
  right: 60%;
  top: 45%;
  bottom: 30%;
}

/**----------Chambre 2-------------------------*/
.text1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  position: absolute;
  color: black;
  left: 15%;
  right: 60%;
  top: 135%;
  bottom: 20%;
  width: 340px;
  height: 250px;
  padding: 10px;
  overflow: hidden;
  right: 0;
  bottom: 10px;
  background-color: #F2F2F2;
}

.btnON1 {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 173%;
  bottom: 20%;
  color: black;
  border-radius: 4px;
}

.btn1 {
  background-color: black;
  color: white;
  width: 200px;
  height: 48px;
}

.title1 {
  position: absolute;
  left: 22%;
  right: 60%;
  top: 125%;
  bottom: 30%;
}

.img1 {
  position: absolute;
  left: 60%;
  right: 60%;
  top: 150%;
  bottom: 30%;
}

.img1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/**--------Chambre 3-----------------------------*/
.text2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  position: absolute;
  color: black;
  left: 15%;
  right: 60%;
  top: 240%;
  bottom: 60%;
  width: 340px;
  height: 250px;
  padding: 10px;
  overflow: hidden;
  right: 0;
  bottom: 10px;
  background-color: #F2F2F2;
}

.btnON2 {
  position: absolute;
  left: 15%;
  right: 60%;
  top: 278%;
  bottom: 30%;
  color: black;
  border-radius: 4px;
}

.btn2 {
  background-color: black;
  color: white;
  width: 200px;
  height: 48px;
}

.title2 {
  position: absolute;
  left: 22%;
  right: 60%;
  top: 230%;
  bottom: 30%;
}

.img2 {
  position: absolute;
  left: 60%;
  right: 60%;
  top: 255%;
  bottom: 30%;
}

.img2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

figure {
  margin: 16px 0;
  -o-object-fit: contain;
     object-fit: contain;
}

img[alt*="image_principale_hotel-parimis"] {
  width: 100%;
  height: auto;
}

section[data-id="hotel_introduction"] {
  background-color: #F2F3F5;
}

/*  Fichier scss de mixin (bouts de code à rappeler, pour ne faire de duplication) */
/*  Fichier scss pour le responsive (tablet) */
/*  Fichier scss pour le responsive (desktop) */
/*# sourceMappingURL=style.css.map */